_site
.sass-cache
.jekyll-cache
**.jekyll-cache
**/.jekyll-cache/Jekyll/Cache
node_modules
.vs
**.vs
**/.vs
.jekyll-cache/Jekyll/Cache
Gemfile.lock
*.gem
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/diariodeunparkinsoniano/v16/.suo
.vscode/settings.json
