<!-- Footer -->

<hr>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    {% if site.email %}
                    <li class="list-inline-item">
                        <a href='&#109;ail&#116;o&#58;d&#105;a&#114;i%6&#70;&#100;&#101;un%70a%72kinsonia%6Eo&#37;&#52;&#48;o&#117;t&#108;oo&#37;6B&#46;&#37;65s'>
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li class="list-inline-item">
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.instagram_username %}
                    <li class="list-inline-item">
                        <a href="https://instagram.com/{{ site.instagram_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-inline-item">
                        <div class="newsletter-container">
                            <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=DiarioDeUnParkinsoniano&loc=es_ES', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

                                <input type="hidden" value="DiarioDeUnParkinsoniano" name="uri" />

                                <input type="hidden" name="loc" value="es_ES" />

                                <input class="newsletter-email" type="text" name="email" placeholder="email@ejemplo.com" />

                                <input class="newsletter-submit" type="submit" value="Suscríbete" />

                            </form>
                        </div>

                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
        <div align="center">
            <a href="https://www.casadellibro.com/libro-diariodeunparkinsoniano-plantale-cara-a-tu-enfermedad/9788419671004/13429952">
            <img class="img-fluid"   src="{/assets/images/libro.jpg}" alt="Comprar DiarioDeUnParkinsoniano"  />
            </a>
            </div>
            


    </div>

</footer>
