<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Blog",
        "url": "{{ prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ site.title }}",
        "about": "{{ site.description }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ site.baseurl | prepend: site.url }}/assets/images/diariodeunparkinsoniano.gif"
        },
             "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": ["CreativeWork", "Product"],
            "name": "Fight With Tools",
            "productID": "aramzs.github.io"
        },
        "author": {
            "@type": "Person",
            "name": "Antonio Liberal Irigoyen",
            "description": "Antonio Liberal Irigoyen es Ingeniero Superior de Telecomunicaciones. Es el creador de Mouse Helper, una herramienta para ayudar al manejo del raton para personas con Parkinson o movilidad reducida.",
            "url": "https://diariodeunparkinsoniano.cls-system.es/about",
            "jobTitle": "Ingeniero de Software",
            "email": "diariodeunparkinsoniano@outlook.es",
            "sameAs": [
              "https://www.facebook.com/a.liberal.irigoyen",
              "https://x.com/diariodeunparki",
              "https://www.instagram.com/diariodeunparkinsoniano/",
              "https://www.linkedin.com/in/aliberal/",
              "https://diariodeunparkinsoniano.cls-system.es"
            ],
            "worksFor": {
              "@type": "Organization",
              "name": "Cls-System"
            }
            ,
           "image": {
                "@type": "ImageObject",
                "url": "{{ site.baseurl | prepend: site.url }}/assets/images/about.jpg"
            },
            "givenName": "Antonio Liberal Irigoyen",
            "familyName": "Antonio Liberal Irigoyen",
            "alternateName": "Antonio Liberal Irigoyen",
            "publishingPrinciples": "{{ site.baseurl | prepend: site.url }}/about"
        },
        "editor": {
            "@type": "Person",
            "name": "Antonio Liberal Irigoyen",
            "description": "Antonio Liberal Irigoyen es Ingeniero Superior de Telecomunicaciones. Es el creador de Mouse Helper, una herramienta para ayudar al manejo del raton para personas con Parkinson o movilidad reducida.",
            "url": "https://diariodeunparkinsoniano.cls-system.es/about",
            "jobTitle": "Ingeniero de Software",
            "email": "diariodeunparkinsoniano@outlook.es",
            "sameAs": [
              "https://www.facebook.com/a.liberal.irigoyen",
              "https://x.com/diariodeunparki",
              "https://www.instagram.com/diariodeunparkinsoniano/",
              "https://www.linkedin.com/in/aliberal/",
              "https://diariodeunparkinsoniano.cls-system.es"
            ],
            "worksFor": {
              "@type": "Organization",
              "name": "Cls-System"
            }
            ,
           "image": {
                "@type": "ImageObject",
                "url": "{{ site.baseurl | prepend: site.url }}/assets/images/about.jpg"
            },
            "givenName": "Antonio Liberal Irigoyen",
            "familyName": "Antonio Liberal Irigoyen",
            "alternateName": "Antonio Liberal Irigoyen",
            "publishingPrinciples": "{{ site.baseurl | prepend: site.url }}/about"
        },
        "inLanguage": "es-ES",
        "additionalType": "CreativeWork",
        "alternateName": "Diario de un parkinsoniano",
        "publisher": {
            "@type": "Organization",
            "name": "Cls-System",
            "description": "Un sitio donde hablar sobre el parkinson",
            "sameAs": "{{ site.baseurl | prepend: site.url }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.baseurl | prepend: site.url }}/assets/images/diariodeunparkinsoniano.gif"
            },
            "publishingPrinciples": "{{ site.baseurl | prepend: site.url }}/about"
        }

    }
</script>
