{% if page.name == 'index.html' %}
{% assign site_modified = site.date %}
{% if site.posts %}
    {% for post in site.posts %} 
        {% if post.date %} 
            {% assign site_modified = post.date %} 
            {% break %} 
        {% endif %} 
    {% endfor %} 
{% endif %}
{% endif %}

<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js" | relative_url }}"></script>



<script src="{{"/assets/scripts.js" | relative_url }}"></script>
