{% if page.name == 'index.html' %}
{% assign site_modified = site.date %}
{% if site.posts %}
    {% for post in site.posts %} 
        {% if post.date %} 
            {% assign site_modified = post.date %} 
            {% break %} 
        {% endif %} 
    {% endfor %} 
{% endif %} 
<script type="application/ld+json"> 
    { "@context": "http://schema.org", "@type": "WebSite", 
            {% if site.title %}"name": "{{ site.title }}",{% endif %} 
            {% if site.title%} "headline": "{{ site.title }}",{% endif %} 
            {% if site.description %}"description": "{{ site.description }}",{% endif %} 
            {% if site.url %}"url": "{{ site.url }}{{ site.baseurl }}",{% endif %}
            {% if site.url %}"@id": "{{ site.url }}{{ site.baseurl }}",{% endif %}
            {% if site.author %}"author": { "@type": "Person", "name": "{{ site.authors[site.author].name }}" },{% endif %}
            {% if site.date %}"dateCreated": "{{ site.date | date: "%Y-%m-%d" }}",{% endif %}
            "image": "{{ site.url }}{{ site.baseurl }}/assets/images/diariodeunparkinsoniano.gif",
            "dateModified": "{{ site_modified | date: "%Y-%m-%d" }}" } 
</script>
{% endif %} 

{% if page.layout == 'post' %}
<script type="application/ld+json"> 
    { "@context": "http://schema.org", 
    "@type": "BlogPosting", 
    {%if page.keywords %}
    "keywords": "blog,discapacidad,movilidad,parkinson,diario,{{ page.keywords | join: ',' | escape }}",
    {% endif %} 

    {% if page.title %}"name": "{{ page.title }}",{% endif %} 
    "description": "{{ page.excerpt | truncatewords: 50 | replace: '<p>', '' | replace: '</p>', ' '}}",
    {% if page.title %}"headline": "{{ page.title }}",{% endif %} 
    {% if page.author or site.author %}"author": { "@type": "Person", 
            "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" },
    {% endif %} 
    {% if page.date %}"dateCreated": "{{ page.date }}",{% endif %} 
    {% if page.image %}"image": "{{ site.url }}{{ site.baseurl }}{{ page.image }}",{% endif %}
    "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}" } 
</script>
{% endif %} 
<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>
<script src="https://formspree.io/js/formbutton-v1.0.1.min.js" defer></script>
<script>
    window.formbutton =
        window.formbutton ||
        function () {
            (formbutton.q = formbutton.q || []).push(arguments);
        };
    formbutton("create", {
        onResponse: function (ok, setStatus) {
            if (ok) {
                setStatus("Su petición se ha recibido, en breve me pondré en contacto contigo.")
            }
            else {
                setStatus("<span style='color:red'>Ha habido un problema, intenténtalo de nuevo más tarde.</span>");
            }
        },
        action: "https://formspree.io/f/xwkwvjrz",
        title: "Contacta",
        fields: [
            {
                type: "text",
                label: "Nombre:",
                name: "name",
                required: "true"

            },
            {
                type: "email",
                label: "Email:",
                name: "email",
                required: "true"
            },
            {
                type: "textarea",
                label: "Mensaje:",
                name: "message"
            },
            {
                type: "hidden",
                name: "_language",
                label: null,
                value: "es"
            },
            { type: "submit", value: "Enviar" }
        ],
        styles: {
            fontFamily: "Montserrat",
            modal: {
                border: "1px solid #6D6875",
                boxShadow: "6px 6px 0 #6D6875",
                borderRadius: "0",
            },
            title: {
                padding: "24px 24px 0px 24px",
                background: "rgba(0,0,0,0)",
                color: "#2e2a37",
                fontFamily: "Marcellus SC",
                fontSize: "2em",
            },
            body: {
                padding: "16px 24px 24px",
            },
            field: {
                display: "flex",
            },
            submitField: {
                justifyContent: "flex-end",
            },
            label: {
                width: "40%",
            },
            checkboxLabel: {
                width: "auto",
            },
            input: {
                borderRight: "1px solid rgba(0,0,0,0.1)",
                borderBottom: "1px solid rgba(0,0,0,0.1)",
                borderRadius: "0px"
            },
            button: {
                background: "white",
                fill: "#6D6875",
                border: "1px solid #6D6875",
                boxShadow: "3px 3px 0px #6D6875"
            },
            closeButton: {
                textShadow: "0 0 0 #2e2a37",

            }
        },
        initiallyVisible: false,
    });
</script>

{% if page.url contains 'contact' %}
<script src='https://www.google.com/recaptcha/api.js?render=6Ld8_tQZAAAAAL9SzmU4mgGKIq1F-u0EwOtCf6rh'></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6Ld8_tQZAAAAAL9SzmU4mgGKIq1F-u0EwOtCf6rh')
            .then(function (token) {
                //document.getElementById('g-recaptcha-response').value = token;
            });
    });
</script><!-- Form Validation -->
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/jqBootstrapValidation.js" | relative_url }}"></script>
<!-- Send Form -->
<script>
    $(function () {

      $("#contactForm input,#contactForm textarea").jqBootstrapValidation({
        preventSubmit: true,
        submitError: function ($form, event, errors) {
          // additional error messages or events
        },
        submitSuccess: function ($form, event) {
            event.preventDefault(); // prevent default submit behaviour
          // get values from FORM
            var catcha = $("g-recaptcha-response").val();
            alert(catcha);
          var name = $("input#name").val();
          var email = $("input#email").val();
          var phone = $("input#phone").val();
          var message = $("textarea#message").val();
          var firstName = name; // For Success/Failure Message
          // Check for white space in name for Success/Fail message
          if (firstName.indexOf(' ') >= 0) {
            firstName = name.split(' ').slice(0, -1).join(' ');
          }
          $this = $("#sendMessageButton");
          $this.prop("disabled", true); // Disable submit button until AJAX call is complete to prevent duplicate messages
          $.ajax({
            url: "//formspree.io/{{ site.email }}",
            type: "POST",
            data: {
              name: name,
              phone: phone,
              email: email,
              message: message
            },
            cache: false,
            success: function () {
              // Success message
              $('#success').html("<div class='alert alert-success'>");
              $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
              $('#success > .alert-success').append("<strong>Your message has been sent. </strong>");
              $('#success > .alert-success').append('</div>');
              //clear all fields
              $('#contactForm').trigger("reset");
            },
            error: function () {
              // Fail message
              $('#success').html("<div class='alert alert-danger'>");
              $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
              $('#success > .alert-danger').append($("<strong>").text("Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!"));
              $('#success > .alert-danger').append('</div>');
              //clear all fields
              $('#contactForm').trigger("reset");
            },
            complete: function () {
              setTimeout(function () {
                $this.prop("disabled", false); // Re-enable submit button when AJAX call is complete
              }, 1000);
            }
          });
        },
        filter: function () {
          return $(this).is(":visible");
        }
      });

      $("a[data-toggle=\"tab\"]").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    });

    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
      $('#success').html('');
    });
</script>
{% endif %}
