---
layout: default
excerpt: Blog personal de Antonio Liberal, un parkinsoniano que convive con su enfermedad
---

<!-- Page Header -->
{% assign fondo = '/img/bg-header.jpg' %}
<!-- Page Header -->
{% if fondo %}
<header class="masthead" style="        background-image: url('{{ fondo  | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        <span class="subheading">{% if paginator.page and paginator.page>1%}Página {{paginator.page}}{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ content }}

                <!-- Home Post List -->


                {% for post in paginator.posts %}
                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                    </a>
                    <p class="post-meta">
                        {{  post.date | date: '%-d' }}
                        {% assign m = post.date | date: '%-m' %}
                        {% case m %}
                        {% when '1' %}en
                        {% when '2' %}feb
                        {% when '3' %}mar
                        {% when '4' %}abr
                        {% when '5' %}may
                        {% when '6' %}jun
                        {% when '7' %}jul
                        {% when '8' %}ago
                        {% when '9' %}sep
                        {% when '10' %}oct
                        {% when '11' %}nov
                        {% when '12' %}dic
                        {% endcase %}
                        {{  post.date | date: '%Y' }}
                        &middot; {% include read_time.html content=post.content %}
                    </p>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% else %}
                    <p class="post-preview">
                        {{ post.content | truncatewords: 50 | strip_html}}
                    </p>
                    <p class="post-meta">
                        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                            Seguir leyendo..
                        </a>
                    </p>
                    {% endif %}


                </article>

                <hr>

                {% endfor %}

            </div>
        </div>
            <div class="container paginator">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <!-- Pager -->
                <div class="pagination">
<ul class="list-inline text-center">
    <li class="list-inline-item"><span>Pág:</span></li>
{% if paginator.total_pages > 1 %}
    <li class="list-inline-item">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr;</a>
  {% else %}
    <span >&larr;</span>
  {% endif %}
        </li>
{% assign minPage = paginator.page | plus: -2 %}
{% assign maxPage = paginator.page | plus: 2  %}
    {%if maxPage>paginator.total_pages %}
    {% assign maxPage = paginator.total_pages  %}
    {%endif%}
  {% for page in (minPage..maxPage) %}
    <li class="list-inline-item">
    {% if page == paginator.page %}
      <em ><u>{{ page }}</u> </em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% elsif page > 0 %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
        </li>
  {% endfor %}

  {% if paginator.next_page %}
    <li class="list-inline-item">
    <a href="{{ paginator.next_page_path | relative_url }}">&rarr;</a>
        </li>
  {% endif %}
<li class="list-inline-item">
                    <a href="{{"/allposts" | relative_url }}">Indice</a>
    </li>
{% endif %}
    </ul>
                </div>
                </div>
            </div>
                </div>
    </div>
