---
layout: default
---

<!-- Page Header -->
{% assign fondo = '/img/bg-header.jpg' %}
<!-- Page Header -->
{% if fondo %}
<header class="masthead" style="        background-image: url('{{ fondo  | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        <!--{% if site.description %}
                        <span class="subheading">{{ site.description }}</span>
                        {% endif %}-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ content }}

                <!-- Home Post List -->
                {% for post in site.posts limit : 5 %}

                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                    </a>
                    <p class="post-meta">
                        {{  post.date | date: '%-d' }}
                        {% assign m = post.date | date: '%-m' %}
                        {% case m %}
                        {% when '1' %}en
                        {% when '2' %}feb
                        {% when '3' %}mar
                        {% when '4' %}abr
                        {% when '5' %}may
                        {% when '6' %}jun
                        {% when '7' %}jul
                        {% when '8' %}ago
                        {% when '9' %}sep
                        {% when '10' %}oct
                        {% when '11' %}nov
                        {% when '12' %}dic
                        {% endcase %}
                        {{  post.date | date: '%Y' }}
                        &middot; {% include read_time.html content=post.content %}
                    </p>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% else %}
                    <p class="post-preview">
                        {{ post.excerpt | truncatewords: 50 | replace: '<p>', '' | replace: '</p>', ' '}}
                    </p>
                    <p class="post-meta">
                        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                            Seguir leyendo..
                        </a>
                    </p>
                    {% endif %}


                </article>

                <hr>

                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="btn btn-primary float-right"  href="{{ paginator.previous_page_path | relative_url }}">&larr;</a>
  {% else %}
    <span class="btn btn-primary float-right"  >&larr;</span>
  {% endif %}
    <span>&nbsp;</span>
{% assign minPage = paginator.page | plus: -2 %}
{% assign maxPage = paginator.page | plus: 2  %}
    {%if maxPage>paginator.total_pages %}
    {% assign maxPage = paginator.total_pages  %}
    {%endif%}
  {% for page in (minPage..maxPage) %}
    {% if page == paginator.page %}
      <em class="btn btn-primary float-right"  ><u>{{ page }}</u> </em>
    <span>&nbsp;</span>
    {% elsif page == 1 %}
      <a class="btn btn-primary float-right"  href="{{ '/' | relative_url }}">{{ page }}</a>
        <span>&nbsp;</span>
    {% elsif page > 0 %}
      <a class="btn btn-primary float-right"  href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    <span>&nbsp;</span>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="btn btn-primary float-right"   href="{{ paginator.next_page_path | relative_url }}">&rarr;</a>
    <span>&nbsp;</span>
  {% endif %}
                    <a class="btn btn-primary float-right" href="{{"/allposts" | relative_url }}">Entradas</a>
</div>
{% endif %}
                </div>
            </div>
        </div>
    </div>
