---
layout:          default
type:            default
---

{% assign fondo = '/img/bg-header.jpg' %}
<!-- Page Header -->
{% if fondo %}
<header class="masthead" style="        background-image: url('{{ fondo  | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.subtitle %}
                        <h2 class="subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">
                            {{  page.date | date: '%-d' }}
                            {% assign m = page.date | date: '%-m' %}
                            {% case m %}
                            {% when '1' %}en
                            {% when '2' %}feb
                            {% when '3' %}mar
                            {% when '4' %}abr
                            {% when '5' %}may
                            {% when '6' %}jun
                            {% when '7' %}jul
                            {% when '8' %}ago
                            {% when '9' %}sep
                            {% when '10' %}oct
                            {% when '11' %}nov
                            {% when '12' %}dic
                            {% endcase %}
                            {{  page.date | date: '%Y' }}
                            &middot; {% include read_time.html content=page.content %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">


                {{ content }}
{%if page.footerimage %}
<div align="center">
<img class="img-fluid"  src="{{page.footerimage}}" alt="{{page.title}}" />
</div>
{%endif %}
                <hr>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    {% if page.previous.url %}
                    <li class="list-inline-item">
                    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">
                        &larr; Anterior<span class="d-none d-md-inline">
                        </span>
                    </a>
                        </li>
                    {% endif %}

                    {% if page.next.url %}
                    <li class="list-inline-item">
                    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">
                        Siguiente<span class="d-none d-md-inline">
                        </span> &rarr;
                    </a>
                        </li>
                    {% endif %}
                    <li class="list-inline-item">
                    <a href="{{"/allposts" | relative_url }}">Entradas</a>
                        </li>


                </div>
                </div>
            </div>
                <!-- Comments -->
                {% if page.comments != false %}
                {% include comments.html %}
                {% endif %}


            </div>


            <!-- Share -->
            <div class="col-lg-2 pr-4 mb-4 col-md-12">
                <div class="sticky-top sticky-top-offset text-center">
                    <div class="text-muted">
                        Compartir
                    </div>
                    <div class="share d-inline-block">
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
            </div>


        </div>
    </div>
